<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<h1>Contact Us</h1>
<h2>
  You can contact me on
</h2>
<%= link_to image_tag("facebook.png"), 'https://www.facebook.com/parth.bharadiya' %>
<%= link_to image_tag("linkedin.png"), 'https://www.linkedin.com/pub/parth-bhvaradiya/33/181/5a' %>
<%= link_to image_tag("blogger.png"), 'http://www.blogger.com/profile/11563238186733446314' %>
<%= link_to image_tag("Google+-square64.png"), 'https://plus.google.com/u/0/103631939310981313770' %>
<%= link_to image_tag("twitter.png"), 'https://twitter.com/PjBharadiya' %>