<% provide(:title, 'All users') %>
<h1>All users</h1>

<h2>Import Users</h2>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate %>
</div>
<ul class="users">
  <p>
    Download:
    <%= link_to "CSV", users_path(format: "csv") %> |
    <%= link_to "Excel", users_path(format: "xls") %>
    </p>
  <%= render @users %>
</ul>
<div class="digg_pagination">
  <%= will_paginate %>
</div>
