<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="digg_pagination">
  <%= will_paginate %>
</div>
<ul class="users">
  <p>
    Download:
    <%= link_to "CSV", users_path(format: "csv") %> |
    <%= link_to "Excel", users_path(format: "xls") %>
    </p>
  <%= render @users %>
</ul>
<div class="digg_pagination">
  <%= will_paginate %>
</div>
